.header {
  background-color: white;
  padding: 12px;
  align-items: center;
  box-shadow: 0px -8px 20px var(--highlight);
  display: flex;
  align-items: center;
  gap: 10px;
  top: 0;
  width: 100%;
  box-sizing: border-box;
}

.header span {
  font-size: 1.7em;
  font-weight: bolder;
}